<div class="container-fluid">
  <div class="row">
    <aside style="background-color: #8b9bf7; height: 93vh" class="col-md-3">
      <div>
        <mat-card class="mt-3">
          <form [formGroup]="myForm" (submit)="onSubmit()">
            <mat-form-field appearance="fill">
              <mat-label>Task Name</mat-label>
              <input formControlName="task" matInput placeholder="Add a task" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Add task name</mat-hint>
            </mat-form-field>

            <button
              [disabled]="myForm.invalid"
              class="mt-3"
              mat-raised-button
              color="primary"
            >
              {{ isEditEnable ? "Edit" : "Add" }}
            </button>
          </form>
        </mat-card>
      </div>
    </aside>

    <section class="col-md-9 mt-3">
      <div cdkDropListGroup>
        <div class="row">
          <section class="col-md-4">
            <div class="container">
              <h2 class="head-title">
                To do
                <span *ngIf="tasks.length">{{ tasks.length }}</span>
              </h2>

              <div
                cdkDropList
                [cdkDropListData]="tasks"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="let item of tasks; let i = index"
                  cdkDrag
                >
                  {{ item.description }}
                  <span class="box">
                    <!-- <button (click)="deleteTask(i)" mat-icon-button color="warn">
                      <mat-icon fontIcon="delete"></mat-icon>
                    </button> -->
                    <!-- !son iguales, pero de diferente manera -->
                    <button
                      (click)="deleteTask(i)"
                      mat-icon-button
                      color="warn"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button
                      (click)="editTask(item, i)"
                      mat-icon-button
                      color="primary"
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </section>

          <section class="col-md-4">
            <div class="example-container">
              <h2 class="head-title">
                In Progress
                <span *ngIf="inprogress.length">{{ inprogress.length }}</span>
              </h2>

              <div
                cdkDropList
                [cdkDropListData]="inprogress"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="let item of inprogress; let i = index"
                  cdkDrag
                >
                  {{ item.description }}
                  <span class="box">
                    <button
                      (click)="deleteTaskInProgress(i)"
                      mat-icon-button
                      color="warn"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </section>

          <section class="col-md-4">
            <div class="example-container">
              <h2 class="head-title">
                Done
                <span *ngIf="done.length">{{ done.length }}</span>
              </h2>

              <div
                cdkDropList
                [cdkDropListData]="done"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="let item of done; let i = index"
                  cdkDrag
                >
                  {{ item.description }}
                  <span class="box">
                    <button
                      (click)="deleteTaskDone(i)"
                      mat-icon-button
                      color="warn"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>

                    <!-- // color accent es personalizado -->
                    <!-- // styles.scss -->
                    <button
                      (click)="deleteTaskDone(i)"
                      mat-icon-button
                      color="accent"
                    >
                      <mat-icon>check_circle</mat-icon>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</div>
